{% extends "base.html" %}

{% block page %}

<div class="login">
	<h2 class="green">Set a new password</h2>

	{% if validlink %}
		{% for error in form.errors.password2 %}
		<h5 class="error">{{error}}</h5>
		{% endfor %}

		<form method="post">
			{% csrf_token %}

			{% for field in form %}
			<p>{{field.label_tag}}<br />{{field}}</p>
			{% endfor %}
			<button type="submit">Submit</button>
		</form>
	{% else %}
	<h5 class="error">Link no longer valid.</h5>
	{% endif %}

</div>

{% endblock %}