body {
  font-family: "Comic Sans MS", "Comic Sans", "Courier", cursive, sans-serif, Verdana;
  font-size: 2vw;
}

* {
  box-sizing: border-box;
  transition-duration: 0.4s;
  animation: enter 1s backwards;
}

@keyframes enter {
  from {opacity: 0;}
  to {opacity: 1;}
}

.hidden {
  animation: disappear 1s forwards;
  display: none;
}

@keyframes disappear {
  from {opacity: 1;}
  to {opacity: 0;}
}

div {
  padding: 0.5vw;
}

p {
  margin: 0.3vw;
}

input {
  font-size: 2vw;
  margin: 0.2vw;
}

input[type="text"] {
  min-width: 10vw;
} 

h1, h2, h3 {
  margin: 0.3vw;
  font-weight: bold;
}

h4, h5, h6 {
  margin: 0vw;
  font-weight: normal;
}

h1 {font-size: 3vw;}
h2 {font-size: 2.5vw;}
h3 {font-size: 2.25vw;}
h4 {font-size: 1.75vw;}
h5 {font-size: 1.5vw;}
h6 {font-size: 1.25vw;}

.green {color: rgba(4, 128, 0, 1);}

button, .button {
  margin: 0.2vw;
  padding: 0.3vw;
  background-color: rgb(0, 139, 186);
  border: 0.2vw solid rgb(3, 99, 131);
  border-radius: 0.4vw;
  color: white;
  text-align: center;
  font-size: 2vw;
}

button:hover, .button:hover {
  background-color: rgb(70, 163, 194);
  color: white;
  box-shadow: 0vw 0.2vw 0.5vw 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

button[disabled], button:disabled {
  background-color: rgba(80, 110, 120, 1);
  color: #b7b7b7;
  border-color: gray;
  box-shadow: none;
  cursor: auto;
}

a {
  color: black;
}

a:hover {color: rgb(0, 139, 186);}

img .icon {width: 3vw;}

.error, .red {color: red;}
.success, .green {color: green;}

.google {
  background-image: url("../imgs/btn_google_signin.png");
  background-size: 100%;
  width: 60%;
  vertical-align: middle;
}

.google:hover {background-image: url("../imgs/btn_google_signin_hover.png");}

#header {
  font-size: 5vw;
  font-weight: bold;
  text-align: center;
  text-shadow: 0.5vw 0.5vw 1vw rgb(155, 148, 148);
  background-image: url("../imgs/chessbg.bmp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 1vw 1vw white inset;
  /*background:  linear-gradient(180deg, rgb(155, 148, 148) 0%, rgba(255,255,255,1) 80%);; */
}

#header > a {
  color: black;
  text-decoration: none;
}

#page {
  width: 90%;
  margin: auto;
}

#main-menu {
  width: 23%;
  float: left;
}

#main-menu a {
  color: black;
  background-color: white;
  text-decoration: none;
  border: 0.5vw solid black;
  display: block;
  width: 100%;
  margin: 1vw 0vw;
  padding: 0vw 1vw;
}

#main-menu a:hover {
  background-color: rgb(255, 249, 199);
  box-shadow: 0vw 0.5vw 1vw 0 rgba(0, 0, 0, 0.3);
}

#notification {
  font-size: 3vw;
  float: right;
  color: rgb(3, 99, 131);
  line-height: 100%;
  text-shadow: 0.2vw 0.2vw 0.5vw 0 rgba(0, 0, 0, 0.5);
  animation: popping 2s ease 0s infinite;
}

@keyframes popping {
  0%   {transform: scale(1);}
  50%  {transform: scale(1.5) rotate(30deg);}
  100% {transform: scale(1) rotate(0deg);}
}

#content {
  width: 77%;
  float: left;
}

.login {
  text-align: center;
  margin: auto;
  width: 30vw;
  padding: 0.5vw;
  background-color: rgba(197, 197, 193, 0.507);
  border-radius: 0.5vw;
  box-shadow: 0vw 0.3vw 1vw 0 rgba(0, 0, 0, 0.3);
}

.loading-socket {
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:100%;
  width:100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  display: flex;
}

/*.loading-page {

}*/

.loading-icon {
  animation: spinning 2s linear infinite;
  width: 10vw; 
}

@keyframes spinning {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

form.inline {
  display: inline-block;
}

.edit-btn {
  vertical-align: middle;
  margin-left: 2vw;
}

.edit-btn.user {
  font-size: 1.3vw;
}

.form-msg {
  padding: 0vw;
  font-size: 2vw;
  display: inline-block;
  margin-left: 1vw;
  font-weight: normal;
}

p.with-icon {
  display: flex;
  align-items: center;
  margin: 1vw;
}

select {
  font-size: 2vw;
  border-radius: 0.3vw;
}

select:hover {
  cursor: pointer;
}

/*.select-items {
  background-color: white;
}*/

.jumping {
  animation: popping 2s ease 0s infinite;
}

.lobby-box {
  border: 0.4vw solid black;
  color: black;
  padding: 0vw;
  width: 80%;
}

.lobby-link {
  margin: 0.5vw 0vw;
  text-decoration: none;
  display: flex;
}

.lobby-link div:hover {
  background-color: rgb(255, 255, 240);
  box-shadow: 0vw 0.5vw 1vw 0 rgba(0, 0, 0, 0.3);
}

.lobby-box p,.lobby-box h6 {
  padding: 0vw 1vw;
  margin: 0vw;
}

.lobby-box span:first-child {
  font-weight: bold;
}

.lobby-box span:last-child {
  margin: 0vw 3vw;
  font-style: oblique;
}

.lobby-box+button {
  margin: 0.1vw 1vw;
}

.user-line {
  float: left;
}

.user-line span:first-of-type {
  font-weight: bold;
  margin-left: 1vw;
}

.user-time {
  float: right;
  margin-right: 8vw;
}

.moves-list {
  width: 18%;
  float: left;
  background-color: rgba(197, 197, 193, 0.5);
  border: 0.3vw solid rgba(0, 0, 0, 0.8);
  border-radius: 2vw;
  margin: 0.5vw;
}

.moves-list h4, .moves-list h5{
  padding: 0vw 0.5vw;
  color: rgba(0, 0, 0, 0.7);
}

.game-container {
  width: 80%;
  float: left;
  padding: 0vw 0.5vw;
}

.chess-piece {
  width: 3vw;
  vertical-align: top;
}

.board {
  clear: both;
  padding: 0vw 0.5vw;
}

.board table {
  background-color: white;
  border-collapse: collapse;
}

.board td {
  padding: 0vw;
  border: 0.2vw solid black;
}



.board th {
  padding: 0vw;
}

.board tr:nth-child(odd) td:nth-child(even), .board tr:nth-child(even) td:nth-child(odd) {
  background-color: black;
}

.board button {
  padding: 0vw;
  margin: 0vw;
  background: none;
  border: none;
  display: block;
}

.board button:hover:enabled {
  background-color: rgba(128, 128, 128, 0.5);
}

.board .chess-piece {
  width: 5vw;
}

.board button.target {
  background: radial-gradient(rgba(0, 0, 0, 0) 35%, rgb(100, 170, 40));
}

.board button.target:hover {
  background: radial-gradient(rgba(0, 0, 0, 0) 10%, rgb(100, 170, 40));
}

@media only screen and (max-width: 768px) {
  
}