body {
    font-family: "Comic Sans MS", "Comic Sans", "Courier", Verdana;
    font-size: 2rem;
  }

.header {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 0.5rem 0.5rem 1rem rgb(155, 148, 148);
    background-image: url("../img/chessbg.bmp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 1rem 1rem white inset;
    /*background:  linear-gradient(180deg, rgb(155, 148, 148) 0%, rgba(255,255,255,1) 80%);; */
}

p {
  margin: 0px;
}

input {
  font-size: 2rem;
  margin-left: 0.2rem;
}

.login {
  text-align: center;
  margin: auto;
  width: 30rem;
  padding: 0.5rem;
  background-color: rgba(197, 197, 193, 0.507);
  border-radius: 0.5rem;
}

@media only screen and (max-width: 768px) {
    
  }