<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title | capfirst | default:_('AWM-Chess') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'imgs/favicon-32x32.png' %}"/>
</head>
<body>
<div id="header">
    <a href="{% url 'home' %}">AWM-CHESS</a>
</div>
<div id="page">
    {% block page %}
    {% endblock %}
</div>
</body>
</html>